name: Build and Release (Manual Tag)

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    # Only run if the tag was NOT created by the auto-release workflow
    if: "!contains(github.event.head_commit.message, 'chore: bump version')"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Force HTTPS instead of SSH for git
        run: git config --global url."https://github.com/".insteadOf ssh://git@github.com/

      - name: Install dependencies
        run: yarn install

      - name: Build installer
        run: yarn make

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          name: Home Assistant Companion ${{ github.ref_name }}
          draft: false
          prerelease: false
          generate_release_notes: true
          files: |
            out/make/squirrel.windows/x64/*.exe
            out/make/squirrel.windows/x64/*.nupkg
